<div class="content-main">
    <div class="page-header">
            <h1>Report</h1>
    </div>
    <div class="Response Info">
        <div class="prettyprint">
             <div class="form-group has-success">
                <label class="control-label" for="inputSuccess" style="float:left; margin-top:5px;" >Search </label>
                <input ng-model="query" class="form-control" id="inputSuccess" type="search" style="width:20%;float:left; margin-left:20px;" />
             </div> <br/>
             <table class="table table-striped table-hover">
                <thead ng-show="(values|filter:query).length">
                <th class="parameter">
                    <a href ng-click="orderByField='parameter'; reverseSort = !reverseSort">
                        Parameter <span ng-show="orderByField == 'parameter'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                    </a>
                </th>
                <th class="subparameter">
                    <a href ng-click="orderByField='subparameter'; reverseSort = !reverseSort">
                        Subparameter <span ng-show="orderByField == 'subparameter'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                    </a>
                </th>
                <th class="subparameter">
                    <a href ng-click="orderByField='taluk'; reverseSort = !reverseSort">
                        Taluk <span ng-show="orderByField == 'taluk'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                    </a>
                </th>
                <th class="subparameter">
                    <a href ng-click="orderByField='year'; reverseSort = !reverseSort">
                        Year <span ng-show="orderByField == 'year'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                    </a>
                </th>
                <th class="subparameter">
                    <a href ng-click="orderByField='value'; reverseSort = !reverseSort">
                        Value <span ng-show="orderByField == 'value'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                    </a>
                </th>
                </thead>
                <tbody>
                <tr ng-repeat="value in values|filter:query|orderBy:orderByField:reverseSort" class="success">
                    <td>{{value.parameter}}</td>
                    <td>{{value.subparameter}}</td>
                    <td>{{value.taluk}}</td>
                    <td>{{value.year}}</td>
                    <td>{{value.value}}</td>
                </tr>
                </tbody>
            </table>
         </div>
    </div>
</div>