<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <title>Rural Analytics</title>
    <!-- Bootstrap -->
    <link href="http://ruralanalytics.com/css/bootstrap.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
	<link href="css/prettify.css" rel="stylesheet">
    <link href="http://ruralanalytics.com/css/nv.d3.css" rel="stylesheet">

    <script src="http://ruralanalytics.com/js/jquery-1.11.0.min.js"></script>
    <script src="http://ruralanalytics.com/js/bootstrap.min.js"></script>
	<script src="http://ruralanalytics.com/js/prettify.js"></script>

    <script src="http://ruralanalytics.com/js/printThis.js"></script>
    <script src="http://ruralanalytics.com/js/d3.min.js"></script>
    <script src="http://ruralanalytics.com/js/nv.d3.min.js"></script>
	<script src="http://ruralanalytics.com/js/angular.min.js"></script>
    <script src="http://ruralanalytics.com/js/angular-file-upload.min.js"></script>
	<script src="http://ruralanalytics.com/js/angular-route.min.js"></script>
	<script src="http://ruralanalytics.com/js/underscore-min.js"></script>
    <script src="http://ruralanalytics.com/js/restangular.min.js"></script>

    <script src="js/app/app.js"></script>
    <script src="js/app/services.js"></script>
    <script src="js/app/controllers.js"></script>
  </head>
  <body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Rural Analytics</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reporting <b class="caret"></b></a>
          <ul class="dropdown-menu" ng-controller="CategoryMenuController">
            <li class="dropdown-submenu">
                <a href="#">Category</a>
                <ul class="dropdown-menu">
                    <li class="dropdown-submenu" ng-repeat="category in categories">
                         <a href="#" >{{category.name}}</a>
                         <ul class="dropdown-menu" >
                            <li ng-repeat="parameter in category.parameters"><a href class="ng-binding" ng-click="getValuesWithParameterId(category.id, parameter.id)">{{parameter.name}}</a></li>
                         </ul><!-- end dropdown-menu -->
                    </li>
                </ul><!-- end dropdown-menu -->
            </li>
            <li><a href="#reporting">Ad-Hoc Reporting</a></li>
          </ul>
        </li>
        <li><a href="#infographics">Infographics</a></li>
        <li><a href="#trees">Decision Trees</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="www.ruralanalytics.com">API Documentation</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
    <div class='container'>
					<div class="tab-content">

                        <div ng-view></div>

					</div>
                </div>
	</div>
  </body>
</html>
